.App {
  font-family: Montserrat;
  font-size: xx-large;
  width: 80%;
  margin: auto;
}

.author {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  margin-top: 20px;
  font-size: 24px;
  color: gray;
  transition: all .5s ease-in-out;
}

.quote {
  cursor: pointer;
  transition: all .5s ease-in-out;
  opacity: 1;
}

.quoteDark {
  cursor: pointer;
  transition: all .5s ease-in-out;
  opacity: 1;
  color: white;
}

.show {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.BodyApp {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  place-items: center;
}

.BodyAppDark {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}